/* You can add global styles to this file, and also import other style files */

// @import 'bootstrap/dist/css/bootstrap.css';

$primary: hotpink;
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

@import "bootstrap/scss/bootstrap.scss";
